<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="assets/img/vetrina.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"  loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">La migliore piattaforma di streamng gratuita</h1>
            <h3>Iscriviti <small>è gratis</small></h3>      <p class="lead">Ecco per te la migliore selezione di film che ci hanno accompagnato negli ultimi mesi.






            </p>
        </div>
    </div>
</div>
