<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="assets/img/vetrina.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"  loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Sti film so proprio na Bomba</h1>
            <h3>Iscriviti <small>e vielli a vedè</small></h3>
            <p class="lead">Benvenuti nel cuore palpitante de "Il Regno dei Film Epici", il santuario definitivo per gli amanti dell'avventura, dell'azione e dell'eroismo cinematografico. Qui, tra i maestosi picchi delle montagne e le profondità misteriose degli oceani, troverete una collezione senza pari di film che hanno scritto la storia del cinema.</p>
        </div>
    </div>
</div>